[
{pulsar, [
     % Port to run Pulsar on
     {port, 8080},

     % List of Hosts to accept stats for.
     {hosts, ["www.example.com"]},

     % Set of fields to crosstab.
     {crosstab_fields, ["url"]},

     % Location of static files (if any) to serve.  Should use absolute
     % paths when deployed.
     {static_dir, "./priv/static"},
     
     % Maximum number of ports allowed open.  Bump this up when using 
     % long poll.
     {max_connections, 1024},

     % Place to store tables
     {persister, {p_persister_dets, [
        {directory, "/home/astanton/tmp/pulsar.test"},
        {max_history, 1440}
     ]}},

     % Maps the header 'Referer'

    ]}

].

