[
{pulsar, [
     % Port to run Pulsar on
     {port, 8080},
     % List of Hosts to watch.  Must use double quotes!
     {hosts, ["localhost:8000"]},
     % Set of fields to crosstab.
     {crosstab_fields, ["url"]},
     % Location of static files (if any) to serve.  Should use absolute
     % paths when deployed.
     {static_dir, "./priv/static"}
    ]}

].

