[
{pulsar, [
     % Port to run Pulsar on
     {port, 8080},

     % List of Hosts to accept stats for.
     {hosts, ["www.example.com"]},

     % Maximum number of ports allowed open.  Bump this up when using 
     % long poll.
     {max_connections, 1024},

     % Location of static files (if any) to serve.  Should use absolute
     % paths when deployed.
     {static_dir, "./priv/static"},
     
     % Set of fields to crosstab.
     {crosstab_fields, ["url"]},

     {header_mappings, [
        {"Referer", pulsar_header, url_to_path, [{name, "url"}]}
        %{"Referer", pulsar_header, path_to_hostname, []}
     ]}

    ]}

].

